body {
    background-color:black;
    font-family:arial;
    color: white;
}
h1 {
    color:grey;
    font-family: verdana;
}
.maindiv {
    background-color:white;
    color:black;
    width:475px;
    margin: auto;
    padding:20px;
    border-radius:25px;
}
.input {
    margin-left: 50px;
}
.fields {
    margin-bottom: 10px
}
.hightlight {
    background-color:yellow;
}